{% extends 'base.html.twig' %}

{% block title %}Trial Results - S4A Experiment{% endblock %}

{% block body %}
<div class="container" data-controller="confetti">
    <div class="app-header">
        <h1 class="app-title">Wow, che naso!</h1>
    </div>

    {{ render_chart(barChart) }}
</div>
{% endblock %}
